html * {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 1000px;
    background: url(../html_advanced/background.png);
    background-size: cover;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 12%;
    padding-right: 12%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.nav ul li a:hover {
    color: #071629;
    transition: .4s;
}



.school {
    position: absolute;
    height: 151px;
    left: 20%;
    right: 20%;
    top: calc(50% - 151px/2 - 251px);
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 151px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.smile {
    position: absolute;
    height: 20px;
    left: 41.18%;
    right: 55.21%;
    top: calc(50% - 20px/2 - 175.5px);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.grin {
    position: absolute;
    height: 20px;
    left: 48.89%;
    right: 48.61%;
    top: calc(50% - 20px/2 - 175.5px);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.laugh {
    position: absolute;
    height: 20px;
    left: 55.35%;
    right: 41.25%;
    top: calc(50% - 20px/2 - 175.5px);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

button {
    position: absolute;
    left: 44.38%;
    right: 44.38%;
    top: 38.33%;
    bottom: 57.64%;
    color: white;
    border: solid transparent;
    background: #C271FF;
    border-radius: 22px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

strong {
    color: #C271FF;
}

.learn {
    position: absolute;
    height: 40px;
    left: 41.94%;
    right: 39.93%;
    top: calc(50% - 40px/2 + 104.5px);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.mainpart {
    position: absolute;
    width: 1009px;
    height: 237px;
    left: 217px;
    top: 758px;
}

.image {
    border-radius: 50%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 36.71%;
}



.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-align: center;
    color: #FFFFFF;

}

h5 {
    text-align: center;
    color: #FFFFFF;
}

h6 {
    text-align: center;
    color: #FFFFFF;
}

.partone {
    left: 15.07%;
    right: 74.51%;
    top: 69.35%;
    bottom: 8.97%;
}

.parttwo {
    left: 35.14%;
    right: 54.44%;
    top: 69.35%;
    bottom: 8.97%;
}

.partthree {
    left: 54.65%;
    right: 34.93%;
    top: 69.35%;
    bottom: 8.97%;
}

.partfour {
    left: 74.72%;
    right: 14.86%;
    top: 69.35%;
    bottom: 8.97%;
}

.middle {
    width: 100%;
    height: 392px;
    top: 1093px;
    background: #C271FF;
}

.text {
    padding-top: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.article {
    padding-left: 50px;
    text-align: start;
}

.start {
    text-align: start;
    padding-top: 50px;
}

.end {
    text-align: start;
}

p {
    color: white;
}

.strong {
    color: #C271FF;
}

.trending {
    color: #071629;
    padding-left: 250px;
    padding-top: 70px;
}

.popular {
    width: 1228px;
    height: 450px;
    top: 1572px;
    justify-content: center;
}

.tutorials {
    padding-top: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 125px;
    padding-right: 100px;
}

.tuto {
    padding-left: 50px;
}

.freemembership {
    width: 100%;
    height: 350px;
    background: #071629;
}

.membership {
    justify-content: center;
    align-items: center;
    display: flex;
}

.free {
    color: #C271FF;
}

.midclass {
    color: white;
    padding-top: 70px;
}

